@import "palette.css";
@import "font.css";

* {
    position: relative;
    z-index: 0;

    margin: 0;

    box-sizing: border-box;

    padding: 0;

    color: inherit;

    font-size: inherit;
}

body {
    color: rgb(var(--color-dark));

    background-color: rgb(var(--color-light));
}

@media (max-width: 550px) or (max-height: 550px) {
    body {
        font-size: .8em;
    }
}

footer {
    height: 5em;
}

a {
    text-decoration: none;

    color: color-mix(in srgb, rgb(var(--color-primary)) 75%, rgb(var(--color-dark)));
}

img {
    font-size: 0;
}

/*
    Input
*/
.button,
button,
input,
textarea {
    --bg-color: rgb(var(--color-dark) / .1);
    --hover-bg-color: rgb(var(--color-dark) / .25);
    --padding: .5em;
    --inner-size: 1.5em;
    --outer-size: calc(var(--inner-size) + var(--padding) * 2);

    display: inline-block;

    padding: var(--padding) 1em;

    min-width: var(--outer-size);
    min-height: var(--outer-size);
    height: var(--outer-size);

    border: none;
    border-radius: .5em;

    appearance: none;
    outline: none;

    line-height: var(--inner-size);

    color: rgb(var(--color-dark));

    vertical-align: middle;

    background-color: var(--bg-color);

    transition: .3s background-color, .3s color, .3s .15s box-shadow;
}

:is(.button, button, input, textarea):hover {
    background-color: var(--hover-bg-color);
}

:is(.button, button, input, textarea):focus-visible {
    box-shadow: 0 0 0 .1em var(--hover-bg-color);

    background-color: var(--hover-bg-color);

    transition-delay: 0s;
}

:is(.button, button, input, textarea).rounded {
    padding: var(--padding) 1.5em;

    border-radius: calc(var(--outer-size) / 2);
}

:is(.button, button, input, textarea).inverted {
    --bg-color: #0000;
    --hover-bg-color: rgb(var(--color-dark) / .1);
}

:is(.button, button, input, textarea).important {
    --bg-color: rgb(var(--color-dark) / 1);
    --hover-bg-color: rgb(var(--color-dark) / 1);

    color: rgb(var(--color-light));
}

:is(.button, button, input[type="submit"], input[type="reset"], input[type="button"]).icon {
    padding: var(--padding);
}

:is(.button, button, input[type="submit"], input[type="reset"], input[type="button"]):has(svg) {
    padding-left: var(--padding) !important;
}

:is(.button, button, input[type="submit"], input[type="reset"], input[type="button"]) svg {
    display: block;

    float: left;

    height: var(--inner-size);
    width: var(--inner-size);

    margin-right: .5em;

    padding: .1em;
}

:is(.button, button, input[type="submit"], input[type="reset"], input[type="button"]).icon svg {
    margin: 0;
}