/*

    Video Player

*/
#video_player {
    width: 100%;
}

#video_player canvas {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    aspect-ratio: 16/9;

    filter: blur(7em);

    translate: -50% -50%;

    pointer-events: none;
}

#video_player[data-ambient_light="false"] canvas {
    display: none;
}

#video_player video {
    width: 100%;
    height: 100%;

    border-radius: .5em;

    background-color: #0000;

    object-fit: contain;
    object-position: center;
}

#video_player_overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: .5em;

    color: rgb(var(--color-fixed-light));

    background: linear-gradient(0deg, rgb(var(--color-fixed-dark) / .5) 0%, #0000 15%, #0000 90%, rgb(var(--color-fixed-dark) / .5) 100%);

    opacity: 0;

    transition: .2s ease opacity;
}

#video_player[data-fullscreen="false"] #video_player_overlay {
    background: linear-gradient(0deg, rgb(var(--color-fixed-dark) / .5) 0%, #0000 15%, #0000 100%);
}

#video_player[data-paused="true"] #video_player_overlay,
#video_player_overlay[data-show="true"] {
    opacity: 1;
}

#video_player[data-paused="false"] :is(#video_player_overlay[data-show="false"] *, #video_player_overlay[data-show="false"]) {
    cursor: none;
}

#video_player:fullscreen :where(video, #video_player_overlay) {
    border-radius: 0;
}

#video_player_title {
    width: 75%;

    margin-top: .25em;
    margin-left: .5em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 1.75em;
}

#video_player[data-fullscreen="false"] #video_player_title {
    display: none;
}

/*

    Video Player Controls

*/
#video_player_controls {
    position: absolute;
    bottom: 0;

    width: 100%;

    padding: 1em;
}

#video_player_controls :where(input, button) {
    cursor: pointer;
}

#video_player_controls button {
    flex-shrink: 0;

    width: 2em;
    aspect-ratio: 1/1;

    font-size: 1em;

    appearance: none;

    border: none;
    border-radius: 0;

    background: none;
}

#video_player_controls button svg {
    width: 100%;
    height: 100%;

    fill: rgb(var(--color-fixed-light));
}

#video_player_controls input[type="range"] {
    --range-position: 0%;

    height: .4em;

    font-size: 1em;

    appearance: none;

    border: none;
    border-radius: .2em;

    background-color: rgb(var(--color-fixed-light) / .4);
}

#video_player_controls input[type="range"]::-webkit-slider-thumb {
    margin-top: -.25em;

    width: 1em;
    height: 1em;

    font-size: 1em;

    appearance: none;

    border: none;
    border-radius: .5em;

    background-color: rgb(var(--color-primary));
}

#video_player_controls input[type="range"]::-moz-range-thumb {
    margin-top: -.25em;

    width: 1em;
    height: 1em;

    font-size: 1em;

    appearance: none;

    border: none;
    border-radius: .5em;

    background-color: rgb(var(--color-primary));
}

#video_player_controls input[type=range]::-webkit-slider-runnable-track {
    height: .4em;

    font-size: 1em;

    appearance: none;

    border: none;
    border-radius: .2em;

    box-shadow: none;

    background: linear-gradient(90deg, rgb(var(--color-primary)) var(--range-position), #0000 var(--range-position));
}

#video_player_controls input[type=range]::-moz-range-track {
    height: .4em;

    font-size: 1em;

    appearance: none;

    border: none;
    border-radius: .2em;

    box-shadow: none;

    background: linear-gradient(90deg, rgb(var(--color-primary)) var(--range-position), #0000 var(--range-position));
}

#video_player_controls div {
    display: flex;
    align-items: center;
    gap: 1em;
}

#video_player_controls div .filler {
    flex-grow: 1;
}

#video_player_progress_slider {
    width: 100%;

    margin-bottom: 1em;
}

#video_player_volume_slider {
    margin-left: -7em;

    width: 6em;

    scale: 0 1;
    transform-origin: right;

    transition: .3s .5s ease scale, .3s .5s ease margin-left;
}

#video_player_volume_button:hover+#video_player_volume_slider,
#video_player_volume_slider:where(:hover, :focus) {
    margin-left: 0;

    scale: 1;

    transition-delay: .1s;
}

:where(#video_player_play_button, #video_player_volume_button, #video_player_fullscreen_button) svg {
    display: none;
}

#video_player[data-ended="false"][data-paused="false"] #video_player_play_button svg:nth-child(1),
#video_player[data-ended="false"][data-paused="true"] #video_player_play_button svg:nth-child(2),
#video_player[data-ended="true"] #video_player_play_button svg:nth-child(3) {
    display: block;
}

#video_player[data-volume="high"] #video_player_volume_button svg:nth-child(1),
#video_player[data-volume="low"] #video_player_volume_button svg:nth-child(2),
#video_player[data-volume="muted"] #video_player_volume_button svg:nth-child(3) {
    display: block;
}

#video_player[data-fullscreen="false"] #video_player_fullscreen_button svg:nth-child(1),
#video_player[data-fullscreen="true"] #video_player_fullscreen_button svg:nth-child(2) {
    display: block;
}