@import "global.css";

/*

    Main Container

*/
#main_container {
    margin: 0 auto;

    --main-width: calc(max(min(130vh, 100vw), 280px) - 2rem);

    width: var(--main-width);
}

/*

    Video Player

*/
#video_player_container {
    width: 100%;
    height: calc(var(--main-width) * 9 / 16);
}

video-player {
    margin: auto;

    max-width: 100%;
    max-height: calc(var(--main-width) * 9 / 16);
}

/*

    Video Info

*/
#video_info {
    margin-top: 1em;

    width: 100%;
}

#video_info_title {
    width: 100%;

    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

#video_info_bar {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    gap: .5em;

    margin-top: 1em;
}

#video_info_channel {
    display: flex;
    gap: .75em;

    margin-right: 1em;

    color: rgb(var(--color-dark));
}

#video_info_channel img {
    width: 3em;
    height: 3em;

    border-radius: 1.5em;
}

#video_info_channel>div {
    display: flex;
    align-items: center;
}

#video_info_description {
    margin-top: 1em;

    padding: .75em;

    border: solid .1em rgb(var(--color-dark) / .1);
    border-radius: .5em;

    background-color: rgb(var(--color-dark) / .05);
}

#video_info_description>div {
    width: 100%;

    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    font-size: .9em;
    font-weight: bold;
}

#video_info_description>p {
    display: -webkit-box;

    overflow-y: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#video_info_description.open>p {
    display: block;

    height: auto;

    overflow-y: initial;
}

#video_info_show_more {
    margin-top: .25em;

    padding: 0;

    border: none;

    font-weight: bold;

    background-color: #0000;
}