<script src="/component/account-button/account-button.mjs" type="module"></script>
<script src="/component/upload-button/upload-button.mjs" type="module"></script>

<style>
    #nav-bar {
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 1em;
        grid-template-columns: auto 1fr 2.5em minmax(auto, 2.5em);

        position: sticky;
        z-index: 1;
        top: 0;
        right: 0;

        margin-bottom: 1em;

        padding: .5em 1.5em;

        height: 3.5em;
        width: 100%;
    }

    #nav-bar upload-button {
        grid-column: 3;
    }

    #nav-bar account-button {
        grid-column: 4;
    }
</style>

<script type="module">
    const nav_bar = document.getElementById("nav-bar")
    const offset = nav_bar.clientHeight / 3.5
    const max_opacity = .5
    const max_blur_in_px = 10

    function update_nav_bar_bg() {
        requestAnimationFrame(() => {
            const scroll_under_offset = window.scrollY < offset

            nav_bar.style.backgroundColor = `rgb(var(--color-light) / ${scroll_under_offset ? (window.scrollY / offset * max_opacity) : max_opacity})`
            nav_bar.style.backdropFilter = `blur(${scroll_under_offset ? (window.scrollY / offset * max_blur_in_px) : max_blur_in_px}px)`
        })
    }

    update_nav_bar_bg()

    window.addEventListener("scroll", update_nav_bar_bg, { passive: true })
</script>

<nav id="nav-bar">
    <a class="button rounded inverted" href="/" aria-label="Accueil" width="24" height="24"><img
            src="/android-chrome-192x192.png" alt="Logo">Plop</a>
    <upload-button></upload-button>
    <account-button></account-button>
</nav>